* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url('back.png') repeat;
    background-size: 200px 200px;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

/* loading */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid rgba(0, 0, 0, 0.3); 
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px rgba(207, 207, 207, 0.5); 
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
        border-top-color: #ffffff; 
    }
    50% { 
        border-top-color: #f9a368;
    }
    100% { 
        transform: rotate(360deg);
        border-top-color: #ffffff; 
    }
}

@keyframes fadeIn {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 1; }
}

body.loaded #loading-overlay {
    display: none;
}
/* loading */
  
/* popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.popup-content {
    position: relative;
    width: 100%;
    max-width: 40rem;
    height: 80%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-slider {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-slider h2 {
    margin: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.popup-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.popup-swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.popup-swiper-slide a {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

/* POPUP Swiper Button Styles */
.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
    z-index: 10;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #f9a368; 
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

/* Tanda Silang*/
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 12;
}

.popup-close:hover {
    color:#f9a368;
}
/* popup */

/* Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo img {
    height: 50px;
    width: 50px;
}

.header .logo {
    order: 1;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    order: 2;
}

.Navbar {
    display: flex;
    align-items: center;
    order: 3;
}

.Navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(145, 145, 145);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.3s;
}

.Navbar a:hover {
    color: #f9a368;
}

.Navbar a.highlighted {
    color: #f9a368;
}

.Navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color:rgb(145, 145, 145);
    transition: 0.3s;
}

.Navbar a:hover::before {
    width: 100%;
    height: 2px;
    background-color: #f9a368;
}

/* Media Querry Header */
@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .Navbar {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 101;
    }

    .Navbar.active {
        display: flex;
    }

    .Navbar a {
        margin: 15px;
        color: #fff;
    }

    .menu-toggle {
        display: block;
    }
}
/* End Header */

/* Welcome Video? */
#NaiK {
    position: relative;
    padding-top: 30%; 
    height: 0; 
    overflow: hidden;
    max-width: 100%; 
    margin: auto; 
}

#NaiK video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Biar pas horizontal */
}

@media (max-width: 768px) {
    #NaiK {
        padding-top: 70%;
    }
}

/* aboutus & about us*/
.owner {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
    width: 100%; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* aboutus */
.aboutus {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background: url(Black\ back.png);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.993);
    margin: 0 auto;
    flex: 1; 
    max-width: 48%;
}

.aboutusimage {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.aboutustext p {
    color: #ffffff;
    font-size: 1rem;
}

.aboutustext h2 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.aboutuscontent {
    color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

.aboutuscontent h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.aboutuscontent p {
    color: #ffffff;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #fcbf84;
    color: #000000; 
}

/* visimisi */
.visimisi {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: url(Black\ back.png);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.993);
    margin: 0 auto;
    flex: 1; 
    max-width: 48%;
}

.visimisicontent {
    color: #d4d4d4;
    max-width: 80%;
    margin: 0 auto;
}

.visimisicontent h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.visimisicontent h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.visimisicontent p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.visimisicontent ol {
    padding-left: 20px;
}

.visimisicontent ol li {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Main Slide */
.main-slide-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    background-color: #f0f0f094;
}

.main-slide {
    width: 40%;
    aspect-ratio: 16 / 9;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
}

.main-slide .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slide .swiper-pagination {
    bottom: 10px;
}

.swiper-pagination-bullet {
    background-color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.swiper-pagination-bullet:hover {
    background-color:#f9a368; 
}

.main-slide .swiper-button-next,
.main-slide .swiper-button-prev {
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-slide .swiper-button-next:hover,
.main-slide .swiper-button-prev:hover {
    color: #f9a368; 
}

.main-slide-info {
    background: url(Black\ back.png);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.993);
    width: 35%;
    box-sizing: border-box;
}

.main-slide-info h2 {
    color: #cfcfcf;
    text-align: center;
}

.main-slide-info p {
    color: #cfcfcf;
    text-align: justify;
}

.main-slide-info p a {
    color: #f9a368;
    text-decoration: none;
    transition: 0.3s;
}

.main-slide-info p a:hover {
    color: #cfcfcf;
}

/* Main Slide */

/* Company Profile */
.Cinema {  
    margin-top: 0rem;
    max-width: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto; /* Pusatkan secara horizontal */
}

.cinema {
    text-align: center;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    background: url('Black\ back.png') no-repeat center center;
    padding: 20px;
    box-shadow: 0 5px 8px rgb(0, 0, 0); 
    background-size: cover;
    border-radius: 15px;
    margin: 0 auto; 
}

.cinema h2 {
    padding-bottom: 1rem;
    color: #d4d4d4;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* End Company Profile*/

/* Footer */
footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo-section {
    margin-bottom: 10px;
}

.logo {
    width: 100px;
}

.nav-section {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    text-align: center;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #f9a368;
}

.social-media-section {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 30px; 
}

.social-icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    color: #f9a368;
}



/* Footer */

/* Media Querry ISI */
@media (max-width: 768px) {
    .owner {
        flex-direction: column; 
        gap: 20px; 
    }

    .aboutus, .visimisi {
        max-width: 90%;
    }

    .aboutusimage {
        max-width: 80px;
    }

    .aboutustext h2, .aboutuscontent h2 {
        font-size: 1.2rem;
    }

    .aboutustext p, .aboutuscontent p, .visimisicontent p {
        font-size: 0.9rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .popup-content {
        width: 90%;
        height: 90%;
        max-width: none;
    }

    .popup-slider {
        height: 85%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .main-slide-container {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .main-slide {
        width: 100%;
        aspect-ratio: auto;
        height: auto;
    }
    
    .main-slide .swiper-slide img {
        object-fit: cover;
    }
    .main-slide-info {
        width: 100%;
        padding: 10px;
    }

    .main-slide-info h2,
    .main-slide-info p {
        font-size: 0.9rem;
    }
    .main-slide .swiper-button-next,
    .main-slide .swiper-button-prev {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .Cinema {
        margin-top: 1rem;
        padding: 10px;
        max-width: 100%;
    }

    .cinema {
        transform: translateX(0);
        padding: 15px;
        max-width: 100%;
        border-radius: 10px;
    }

    .cinema h2 {
        font-size: 1.2rem;
    }

    .video-container {
        padding-bottom: 56.25%;
        height: auto;
    }
}

/* Styling untuk WhatsApp Popup */
.whatsapp-popup {
    position: fixed;
    bottom: 20px; /* Menempatkan di bawah layar */
    right: 20px;  /* Menempel di sisi kanan */
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    display: none; /* Sembunyikan saat pertama kali */
    z-index: 9999; /* Pastikan tombol di atas konten */
}

.whatsapp-popup-icon i {
    font-size: 30px;
    color: white;
}

.whatsapp-popup:hover {
    background-color: #128c7e;
}
